.Stocks {
    background-color: rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-basis: 15%;
}

.Stocks_stock {
    color: white;
    font-size: 6em;
    font-weight: bold;
}
