.Time {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 98%;
  height: 7%;
}

.Time_digit {
  margin: 0 4rem;
  color: #ebebeb;
  font-size: 4rem;
  font-weight: bold;
}
