.Date {
  align-items: center;
  border-bottom: 0.3rem solid white;
  box-sizing: border-box;
  display: flex;
  flex-basis: 33.33%;
  flex-direction: column;
  justify-content: center;
}

.Date_alert {
  color: lightcoral;
  font-size: 3em;
}

.Date_today {
  color: white;
  font-size: 6em;
  font-weight: bold;
  text-transform: uppercase;
}
