.Date {
    align-items: center;
    border-bottom: 0.1em solid white;
    color: white;
    display: flex;
    font-size: 6em;
    font-weight: bold;
    justify-content: center;
    flex-basis: 33.33%;
    text-transform: uppercase;
}
