.Weather {
  display: flex;
  flex-basis: 40%;
  width: 100%;
}

.Weather_content {
  align-items: center;
  display: flex;
  flex-basis: 65%;
  justify-content: center;
}

.Weather_forecast {
  display: flex;
  flex-basis: 33.33%;
  flex-direction: column;
}

.Weather_header {
  align-items: center;
  background: #324b4a;
  /* border-bottom: 0.5rem solid #324b4a;
  border-top: 0.2rem solid #324b4a; */
  color: #cccccc;;
  display: flex;
  flex-basis: 20%;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  text-transform: uppercase;
}

.Weather_footer {
  align-items: center;
  background: #324b4a;
  display: flex;
  flex-basis: 15%;
  justify-content: center;
}

.Weather_summary {
  color: #ebebeb;
  margin: 0 0.1rem;
  text-transform: capitalize;
}

.Weather_temperature {
  color: #ff874a;
  font-weight: 600;
  margin: 0 0.1rem;
}
