.Greeting {
    align-items: center;
    display: flex;
    flex-basis: 12%;
    flex-direction: column;
    justify-content: flex-end;
}

.Greeting_text {
    color: white;
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.5em;
}
