.CalendarDate {
  background: #0c7e7d;
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.CalendarDate_number {
  align-items: center;
  color: #ebebeb;
  display: flex;
  font-size: 8rem;
  font-weight: bold;
  justify-content: center;
}

.CalendarDate_ofWeek {
  color: #ebebeb;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
}
