.Day {
  border: 0.01rem dashed white;
  
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  width: 100%;
}

.Day_number {
  align-items: center;
  display: flex;
  flex-basis: 65%;
  font-size: 4rem;
  font-weight: bold;
  justify-content: center;
}

.Day_ofWeek {
  align-items: center;
  display: flex;
  flex-basis: 35%;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
}
