.EventList {
  align-items: center;
  background: #ebebeb;
  border: 0.3rem solid #324b4a;
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  width: 100%;
}

.EventList_day {
  color: #0c7e7d;
  font-size: 1rem;
  font-weight: 600;
  /* margin-left: 1rem; */
  text-transform: uppercase;
}

.EventList_entry {
  /* margin-left: 2rem; */
  font-size: 0.8rem;
  font-weight: bold;
}
