.EventList {
  /* background: #ebebeb;
  border: 0.3rem solid #324b4a; */
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  width: 100%;
}

.EventList_day {
  color: #324b4a;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 2rem;
  text-transform: uppercase;
}

.EventList_entry {
  color: #676767;
  margin-left: 4rem;
  font-size: 1rem;
  font-weight: bold;
}
