.Greeting {
  align-items: center;
  color: #324b4a;
  display: flex;
  flex-basis: 20%;
  font-size: 3rem;
  font-weight: bold;
  justify-content: space-evenly;
  width: 100%;
}

.Greeting_icon {
  font-size: 4rem;
}
