.NextEvent_header {
  color: #000000;
  flex-basis: 10%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.NextEvent_event {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    #cccccc,
    #cccccc,
    rgba(255, 255, 255, 0)
  );
  display: flex;
  flex-basis: 80%;
  justify-content: center;
  margin-bottom: 0.8rem;
}

.NextEvent_time {
  color: #c15c7f;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.NextEvent_title {
  color: #666666;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 0.5rem;
}

.NextEvent_countdown {
  align-items: center;
  flex-basis: 10%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  justify-content: center;
  color: #0c7e7d;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 40%;
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.NextEvent {
  display: flex;
  flex-basis: 40%;
  flex-direction: column;
}
