.Calendar {
  background-color: rgba(0, 0, 0, 0.25);
  flex-basis: 18%;
}

.Calendar_content {
  background-image: url(../../images/night-sky-background.jpg);
  background-size: 140%;
  background-position: center 65%;
  border: 0.3rem solid white;
  box-sizing: border-box;
  display: flex;
  margin: 0 10em;
  height: 100%;
}

.Calendar_events {
  border-right: 0.3rem solid white;
  box-sizing: border-box;
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: space-evenly;
}

.Calendar_happeningSoon {
  color: white;
  font-size: 4em;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  display: flex;
  flex-basis: 30%;
}
