.Calendar {
    background-color: rgba(0, 0, 0, 0.1);
    flex-basis: 18%;
}

.Calendar_content {
    background-image: url(../../images/night-sky-background.jpg);
    background-size: 140%;
    background-position: center 65%;
    border: 0.4em solid white;
    box-sizing: border-box;
    display: flex;
    margin: 0 10em;
    height: 100%;
}

.Calendar_events {
    align-items: center;
    border-right: 0.1em solid white;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-basis: 60%;
    font-size: 4em;
    justify-content: center;
}

.Calendar_happeningSoon {
    color: white;
    font-size: 4em;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    display: flex;
    flex-basis: 40%;
}
