.Clock_topGutter {
  align-items: center;
  display: flex;
  flex-basis: 15%;
  justify-content: space-between;
  padding: 0 1rem;
}

.Clock_display {
  display: flex;
  flex-basis: 70%;
}

.Clock_bottomGutter {
  align-items: center;
  display: flex;
  flex-basis: 15%;
  justify-content: space-evenly;
}

.Clock {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
