.Clock {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 60%;
}

.Clock_display {
  /* border: 0.01rem dashed white; */

  align-items: center;
  color: #ccc;
  display: flex;
  flex-basis: 60%;
  font-size: 4rem;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}

.Clock_gutter {
  /* border: 0.01rem dashed white; */

  align-items: center;
  color: #fff;
  display: flex;
  flex-basis: 20%;
  font-size: 0.5rem;
  justify-content: center;
  width: 100%;
}
