.Clock {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-basis: 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 28em;
}

.Clock_text {
    color: white;
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
}
